<div class="mistakes-blocks">
    <div class="mistakes-heading">
        <span>{{ "icon-circle-x.svg" | inline_asset_content }}</span>
        <h3>{{ block.settings.mistakes_heading }}</h3>
    </div>
    <div class="mistakes-col">
    {% for i in (1..5) %}
    {% assign heading_key = "item_heading_" | append: i %}
    {% assign text_key = "item_text_" | append: i %}

    {% if block.settings[heading_key] != blank %}
        <div class="mistakes-row">
        <span>{{ "icon-circle-x.svg" | inline_asset_content }}</span>
        <div class="row-content">
            <h4>{{ block.settings[heading_key] }}</h4>
            <p>{{ block.settings[text_key] }}</p>
        </div>
        </div>
    {% endif %}
{% endfor %}
    </div>
</div>
{% stylesheet %}
    .mistakes-block,
    .mistakes-heading
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mistakes-col{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .mistakes-row{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .mistakes-heading span{
        padding: 7px;
        background: var(--color-cards);
        color: var(--color-danger);
        border-radius: 10px;
    }
  
{% endstylesheet %}

