<div class="solutions-blocks">
    <div class="solutions-heading">
        <span>{{ "icon-circle-x.svg" | inline_asset_content }}</span>
        <h3>{{ block.settings.solutions_heading }}</h3>
    </div>
    <div class="solutions-col">
    
     {% for i in (1..5) %}
        {% assign heading_key = "item_heading_" | append: i %}
        {% assign text_key = "item_text_" | append: i %}

        {% if block.settings[heading_key] != blank %}
            <div class="mistakes-row">
            <span>{{ "icon-circle-check-big.svg" | inline_asset_content }}</span>
            <div class="row-content">
                <h4>{{ block.settings[heading_key] }}</h4>
                <p>{{ block.settings[text_key] }}</p>
            </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% stylesheet %}
    .solutions-block,
    .solutions-heading
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .solutions-col{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .solutions-row{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .solutions-heading span{
        padding: 7px;
        background: var(--color-cards);
        color: var(--color-danger);
        border-radius: 10px;
    }
  
{% endstylesheet %}
