<div class="benifts-sec padding-block padding-inline flex-col">
        <div class="sec-heading ">
          
           <h2>{{ section.settings.sec_heading }}</h2>
            <p>{{ section.settings.sec_heading_para }}</p>
        </div>
        <div class="benifts-grid">
         {% for block in section.blocks %}
           <div class="benifts-grid-col animate-x">
            {% render 'icon', name: block.settings.col_icon_name, size:block.settings.col_icon_size, color: block.settings.col_icon_color,radius: block.settings.col_icon_radius, class: 'icon-bg' %}
        
            <div class="col-content">
              <span class="badge primary font-semi small"> {{ block.settings.col_step_text }}
              </span>
              <h4>{{ block.settings.title }}</h4>

              <p>
               {{ block.settings.col_extra_info }}
              </p>
            </div>
          </div>
          
         {% endfor %}
        
        </div>
      </div>

{% stylesheet %}
    div:has(.benifts-sec) {
    
    background: linear-gradient(
        180deg,
        var(--color-section) 10%,
        var(--color-netural)
    );        
    }
    .badge {
    padding: 1px 14px;
    background-color: var(--color-card);
    border-radius: 50px;
    border: 1px solid var(--color-border);
    width: fit-content;
    }
    .benifts-sec .benifts-grid-col {
    border: 2px solid var(--color-border);
    background-color: var(--color-card);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    }
    .benifts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 90%;
    }
    @media screen and (max-width: 767px) {
    .benifts-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }
    }
    .col-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    }
    

{% endstylesheet %}

{% schema %}
    {
        "name": "Benifts Section",
        "settings": [
            {
            "type": "text",
            "id": "sec_heading",
            "label": "Section heading"
            },{
            "type": "text",
            "id": "sec_heading_para",
            "label": "Section heading para"
            }
        ],
        "blocks": [
            {
            "name": "Benift Block",
            "type": "benift_column",
            "settings": [
                {
                "type": "select",
                "id": "col_icon_name",
                "label": "pick icon",
                "options": [
                  { "value": "award", "label": "award" },
                  { "value": "sparkles", "label": "sparkles" },
                  { "value": "heart", "label": "heart" },
                  { "value": "shield", "label": "shield" }
                  ],
                  "default": "sparkles"
                },
                 {
                "type": "text",
                "id": "col_step_text",
                "label": "Step number and text"
                },
                 {
                "type": "text",
                "id": "title",
                "label": "Title"
                },
                 {
                "type": "text",
                "id": "col_extra_info",
                "label": "col_extra_info"
                }
                ,
                 {
                "type": "range",
                "id": "col_icon_size",
                "label": "Icon Size",
                "min": 24,
                "max": 80,
                "step": 2,
                "default": 40
                }
                ,
                 {
                "type": "range",
                "id": "col_icon_radius",
                "label": "Icon Roundness",
                "min": 0,
                "max": 100,
                "step": 2,
                "default": 10
                }
                ,
                 {
                "type": "color",
                "id": "col_icon_color",
                "label": "Icon Color"
                }
            ]
            }
        ],
        "presets": [
            {
            "name": "Benifts Section",
            "settings": {
            "sec_heading":"The Benifits You'll Love",
            "sec_heading_para":"Transform your smile with professional oral care"
            },
            "blocks": [
              {
              "type": "benift_column",
              "settings": {
              "col_step_text":"1 Shades Whiter",
              "title":"Professional Whiting",
              "col_extra_info":"Removes years of stains with gentle. See results in just 7 days",
              "col_icon_name":"sparkles"
              }
              },
              {
              "type": "benift_column",
              "settings": {
              "col_step_text":"2 Shades Whiter",
              "title":"Professional Whiting",
              "col_extra_info":"Removes years of stains with gentle. See results in just 7 days",
              "col_icon_name":"shield"
              }
              },
              {
              "type": "benift_column",
              "settings": {
              "col_step_text":"3 Shades Whiter",
              "title":"Professional Whiting",
              "col_extra_info":"Removes years of stains with gentle. See results in just 7 days",
              "col_icon_name":"heart"
              }
              },
              {
              "type": "benift_column",
              "settings": {
              "col_step_text":"4 Shades Whiter",
              "title":"Professional Whiting",
              "col_extra_info":"Removes years of stains with gentle. See results in just 7 days",
              "col_icon_name":"award"
              }
              }
            ]
            }
            
        ]
    }
{% endschema %}
