<div class="hero-grid">
<div class="hero-col-1">
    <h1>{{ section.settings.hero_heading_text }}</h1>
    <p>{{ section.settings.hero_heading_para }}</p>
    <div class="hero-star-rating">
        <span>
          {{section.settings.hero_rating}}
        </span>
        <span class="hero-rating-icons">
        <span class="icon">{{ 'icon-truck.svg' | inline_asset_content }}</span>
          <span>{{section.settings.hero_shipping}}</span>
        </span>
        <span class="hero-rating-icons">
          <span class="icon">{{ 'icon-award.svg' | inline_asset_content }}</span>
          <span>{{section.settings.hero_recomended}}</span></span>
    </div>
    <div class="hero-btns">
      <a class="btn btn-solid" href="{{ section.settings.hero_product.url }}">{{ section.settings.hero_product_btn_text }}</a>
      <a class="btn btn-outline" href="{{ section.settings.hero_use_btn_link }}">{{ section.settings.hero_use_btn_text }}</a>
    </div>
</div>
<div class="hero-col-2">
    <div class="hero-img">
  {% if section.settings.hero_background_image %}
    {{ section.settings.hero_background_image
      | image_url: width: 700
      | image_tag:
        alt: 'sections.hero.hero_background_image_alt',
        loading: 'eager',
        fetchpriority: 'high'
    }}
  {% else %}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'hero-img__placeholder' }}
  {% endif %}
</div>
    <div class="hero-img-badge">
      <span class="badge-icon">{{ 'icon-truck.svg' | inline_asset_content }}</span>
      <span>
        <h4>Free Shipping</h4>
        <p class="medium">All Across Pakistan <sup>🇵🇰</sup></p>
      </span>
    </div>
</div>

</div>
{% stylesheet %}
    .hero-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-block: 70px;
    }
    .hero-col-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        padding: 20px;
    }
    .hero-rating-icons{
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
    .hero-rating-icons span:first-child{
      color: var(--color-primary);
    }
    .hero-col-2{
    padding: 20px;
    position: relative;
    }
     .hero-col-2 .hero-img{
    border-radius: 20px;
    box-shadow: 0 0 10px #0000004f;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    }
    .hero-img__placeholder{
      aspect-ratio: 3/4;
    }
    .hero-star-rating{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
    }
    .hero-star-rating span{
      max-width: fit-content;
    }
    .hero-img-badge{
      position: absolute;
      bottom: 0;
      left: 0;
      background: var(--color-netural);
      border-radius: 10px;
      box-shadow: 0 0 5px #0000004f;
      padding: 15px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
    .badge-icon{
      background: #4a7dbc2e;
      color: var(--color-primary);
      padding: 8px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .hero-btns{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
     align-items: center;

    }
    .btn{
      padding: 10px 16px;
      transition: all .3s;
      border-radius: 6px;
      border: 2px solid var(--color-primary);
    }
    .btn-outline{
      color: var(--color-primary);
    }
    .btn-solid{
      color: var(--color-background);
      background: var(--color-primary);
    }
    .btn-outline:hover
    {
      color: var(--color-foreground);
      border-color: var(--color-foreground);
    }
    .btn-solid:hover{
      box-shadow: 0 0 5px var(--color-primary);
      border-color: var(--color-foreground);
    }
    @media (max-width: 767px) {
      .hero-grid{
        grid-template-columns: 1fr;
        gap: 20px;
      }
      .hero-col-1{
        order: 2;
      }
    }
{% endstylesheet %}
{% schema %}
    {
  "name": "Hero Section",
  
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "t:labels.background"
    },
    {
      "type": "text",
      "id": "hero_heading_text",
      "label": "t:labels.heading"
    },
     {
      "type": "text",
      "id": "hero_heading_para",
      "label": "t:labels.hero_heading_para"
    },
    {
      "type": "text",
      "id": "hero_rating",
      "label": "t:labels.hero_rating"
    },
      {
      "type": "text",
      "id": "hero_shipping",
      "label": "t:labels.hero_shipping"
    },
      {
      "type": "text",
      "id": "hero_recomended",
      "label": "t:labels.hero_recomended"
    },
    {
      "type": "product",
      "id": "hero_product",
      "label": "t:labels.hero_product"
    },
    {
      "type": "text",
      "id": "hero_product_btn_text",
      "label": "t:labels.hero_product_btn_text"
    },
    {
      "type": "text",
      "id": "hero_use_btn_text",
      "label": "t:labels.hero_use_btn_text"
    },
    {
      "type": "url",
      "id": "hero_use_btn_link",
      "label": "t:labels.hero_use_btn_link"
    }
  ],
  "presets": [
  {
    "name": "Hero Section",
    "settings": {
      "hero_heading_text": "A Brighter, More Confident Smile — Made Simple",
      "hero_heading_para": "Reveal a noticeably whiter smile in just days with Smile Bright’s advanced whitening drops. Clean, gentle, and designed for effortless home use.",
      "hero_rating":"⭐⭐⭐⭐⭐ 4.9/5 (2850 reviews)",
      "hero_shipping":"Free Shipping",
      "hero_recomended":"Denstist Recommended",
      "hero_product_btn_text":"Buy Now",
      "hero_use_btn_text":"See How To Use"
    }
  }
]

}
{% endschema %}