<div class="hero-grid padding-block  padding-inline">
<div class="hero-col-1 hero-left">
    <h1>{{ section.settings.hero_heading_text }}</h1>
    <p>{{ section.settings.hero_heading_para }}</p>
    <div class="hero-star-rating">
        <span class="hero_rating">
          {% render 'stars', stars_numbers: 5 %}
          {{section.settings.hero_rating}}
        </span>
        <span class="hero-rating-icons">
       {% render 'icon', name: section.settings.col_icon_name, size:25, color: section.settings.col_icon_color %}
          <span>{{section.settings.hero_shipping}}</span>
        </span>
        <span class="hero-rating-icons">
          {% render 'icon', name: 'award', size:25, color: section.settings.col_icon_color %}
          <span>{{section.settings.hero_recomended}}</span></span>
    </div>
    <div class="hero-btns">
      <a class="button bounce-top button-solid" href="{{ section.settings.hero_product.url }}">{{ section.settings.hero_product_btn_text }}</a>
      <a class="button bounce-top button-outline" href="{{ section.settings.hero_use_btn_link }}">{{ section.settings.hero_use_btn_text }}</a>
    </div>
</div>
<div class="hero-col-2 hero-right">
    <div class="hero-img">
  {% if section.settings.hero_background_image %}
    {{ section.settings.hero_background_image
      | image_url: width: 700
      | image_tag:
        alt: 'sections.hero.hero_background_image_alt',
        loading: 'eager',
        fetchpriority: 'high'
    }}
  {% else %}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'hero-img__placeholder' }}
  {% endif %}
</div>
    <div class="hero-img-badge zoomInLeft">
      {% render 'icon', name: section.settings.col_icon_name, size:section.settings.col_icon_size, color: section.settings.col_icon_color,radius: section.settings.col_icon_radius, class: 'icon-bg' %}
      <span>
        <h4>Free Shipping</h4>
        <p class="medium">All Across Pakistan <sup>🇵🇰</sup></p>
      </span>
    </div>
</div>

</div>
{% stylesheet %}
    .hero_rating{
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
    .hero-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-col-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        padding: 20px;
    }
    .hero-rating-icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
    .hero-rating-icons span:first-child{
      color: var(--color-primary);
    }
    .hero-col-2{
    padding: 20px;
    }
     .hero-col-2 .hero-img{
      anchor-name: --badge;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000004f;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    }
    .hero-img__placeholder{
      aspect-ratio: 1/1.1;
    }
    .hero-star-rating{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
    }
    .hero-star-rating span{
      max-width: fit-content;
    }
    .hero-img-badge{
      position-anchor: --badge;
      position: absolute;
      bottom: calc(anchor(bottom) - 20px);
      left: calc(anchor(left) - 20px);
      background: var(--color-netural);
      border-radius: 10px;
      box-shadow: 0 0 5px #0000004f;
      padding: 15px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
    .badge-icon{
      background: #4a7dbc2e;
      color: var(--color-primary);
      padding: 8px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .hero-btns{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
     align-items: center;

    }
   
    @media (max-width: 767px) {
      .hero-grid{
        grid-template-columns: 1fr;
        gap: 20px;
      }
      .hero-col-1{
        order: 2;
      }
    }
    .zoomInLeft {
    animation-name: zoomInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    }
    @keyframes zoomInLeft {
    0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 
    .bounce-top {
	  animation: bounce-top 1s both;
    }
    @keyframes bounce-top {
    0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
  }


{% endstylesheet %}
{% schema %}
    {
  "name": "Hero Section",
  
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "t:labels.background"
    },
    {
      "type": "text",
      "id": "hero_heading_text",
      "label": "t:labels.heading"
    },
     {
      "type": "text",
      "id": "hero_heading_para",
      "label": "t:labels.hero_heading_para"
    },
    {
      "type": "text",
      "id": "hero_rating",
      "label": "t:labels.hero_rating"
    },
      {
      "type": "text",
      "id": "hero_shipping",
      "label": "t:labels.hero_shipping"
    },
      {
      "type": "text",
      "id": "hero_recomended",
      "label": "t:labels.hero_recomended"
    },
    {
      "type": "product",
      "id": "hero_product",
      "label": "t:labels.hero_product"
    },
    {
      "type": "text",
      "id": "hero_product_btn_text",
      "label": "t:labels.hero_product_btn_text"
    },
    {
      "type": "text",
      "id": "hero_use_btn_text",
      "label": "t:labels.hero_use_btn_text"
    },
    {
      "type": "select",
      "id": "col_icon_name",
      "label": "pick icon",
      "options": [
        { "value": "truck", "label": "truck" },
        { "value": "award", "label": "award" },
        ],
        "default": "truck"
      },
    {
      "type": "url",
      "id": "hero_use_btn_link",
      "label": "t:labels.hero_use_btn_link"
      },{
      "type": "range",
      "id": "col_icon_size",
      "label": "Icon Size",
      "min": 12,
      "max": 80,
      "step": 2,
      "default": 24
      }
      ,
        {
      "type": "range",
      "id": "col_icon_radius",
      "label": "Icon Size",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 50
      }
      ,
        {
      "type": "color",
      "id": "col_icon_color",
      "label": "Icon Color"
      }
  ],
  "presets": [
  {
    "name": "Hero Section",
    "settings": {
      "hero_heading_text": "A Brighter, More Confident Smile — Made Simple",
      "hero_heading_para": "Reveal a noticeably whiter smile in just days with Smile Bright’s advanced whitening drops. Clean, gentle, and designed for effortless home use.",
      "hero_rating":"4.9/5 (2850 reviews)",
      "hero_shipping":"Free Shipping",
      "hero_recomended":"Denstist Recommended",
      "hero_product_btn_text":"Buy Now",
      "hero_use_btn_text":"See How To Use"
    }
  }
]

}
{% endschema %}