<div class="steps-sec padding-block flex-col">
<div class="sec-heading">
    <h2>{{ section.settings.sec_heading }}</h2>
    <p>{{ section.settings.sec_heading_para }}</p>
</div>
<div class="steps-sec-content">
    <div class="col fade-out">
    <div class="step-blob">
        <span class="icon-blob primary">
        {{ "icon-circle-dot.svg" | inline_asset_content }}
        <span class="icon-sup small">1</span>
        </span>
    </div>
    <span class="font-semi medium primary">Step 1</span>
    <h4>Mix Drops</h4>
    <p>Poure drops from both bottles and mix those</p>
    </div>
    <div class="col fade-out">
    <div class="step-blob">
        <span class="icon-blob primary">
        {{ "icon-waves.svg" | inline_asset_content }}
        <span class="icon-sup small">2</span>
        </span>
    </div>
    <span class="font-semi medium primary">Step 2</span>
    <h4>Brush Gently</h4>
    <p>Then brush gently or apply with cotton</p>
    </div>
    <div class="col fade-out">
    <div class="step-blob">
        <span class="icon-blob primary">
        {{ "icon-sparkles.svg" | inline_asset_content }}
        <span class="icon-sup small">3</span>
        </span>
    </div>
    <span class="font-semi medium primary">Step 3</span>
    <h4>Enjoy Results</h4>
    <p>You will get instant results from day 1</p>
    </div>
    </div>
    <div class="steps-approval">
        <span class="blue-dot"></span>
        <span class="medium">Clinically tested and dentist approved</span>
    </div>
</div>
{% stylesheet %}
    div:has(.steps-sec){
    background-color: var(--color-section);
    }
    .steps-sec-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }

    .step-blob {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .icon-blob {
    position: relative;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid var(--color-border);
    background-color: var(--color-card);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    }
    .icon-blob svg{
        width: 30px;
        height: 30px;
    }
    .steps-sec .col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 6px;
    position: relative;
    }
    .icon-sup {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--color-foreground);
    border-radius: 50%;
    padding: 1px 8px;
    aspect-ratio: 1;
    color: var(--color-netural);
    }
    .steps-approval {
    background-color: var(--color-netural);
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    box-shadow: 0 0 5px 2px #00000029;
    }
    .steps-approval .blue-dot {
    display: block;
    width: 8px;
    height: 8px;
    aspect-ratio: 1;
    background: var(--color-primary);
    border-radius: 50px;
    }
    .steps-sec .col:not(:last-child) .icon-blob::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: clamp(120px, 20vw, 350px);
    height: 2px;
    border-radius: 0 5px 5px 0 ;
    background-color: var(--color-border);
    transform: translateY(-50%);
    }
    @media screen and (max-width: 767px) {
    .steps-sec-content {
        grid-template-columns: 1fr;
    }
    .steps-sec .icon-blob::after {
        display: none;
    }
    }
{% endstylesheet %}

{% schema %}
    {
        "name": "Steps Section",
        "settings": [
            {
            "type": "text",
            "id": "sec_heading",
            "label": "Section heading"
            },{
            "type": "text",
            "id": "sec_heading_para",
            "label": "Section heading para"
            }
        ],"presets": [
            {
            "name": "Steps Section",
            "settings": {
            "sec_heading":"Simple . Safe . Effective",
            "sec_heading_para":"Just 2 minutes, twice daily for professional results"
            }
            }
        ]
    }
{% endschema %}